{%extends 'ttrade/base.html'%}
{% block title %}
    Favor - {{object.title}}
{% endblock %}
{% block content %}
        <table class="table">
            <tbody>
                <tr>
                    <th>Title</th><td>{{object.title}}</td>
                </tr>
                <tr>
                    <th>User</th><td><img src="/media/{{favor.user.picture}}" style="height:30px; width:30px;" %} />{{object.user}}</td>
                </tr>
                <tr>
                    <th>Content</th><td>{{object.content}}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{object.id}}/edit"><button type="button" class="btn btn-primary">
            Edit
        </button></a>
{%endblock%}